@media screen and (max-width: 479px) {
	#content{width:100%;margin-left:5px;margin-right:5px}
}
@media screen and (max-width: 699px) and (min-width: 480px) {
	#content{width:calc(100% / 1.3);margin-left:auto;margin-right:auto}
}
@media screen and (max-width: 999px) and (min-width: 700px) {
	#content{width:calc(100% / 1.5);margin-left:auto;margin-right:auto}
}
@media screen and (min-width: 1000px) {
	#content{width:calc(100% / 1.7);margin-left:auto;margin-right:auto}
}
*{font-family: "Times New Roman", Times, serif;}
#content{transition: width 0.5s;}
.header{font-size:20px;}
a{text-decoration:none;color:grey;}
a:hover{background-color:grey;color:white;}
.quote{background-color:#272822;color:white;border-left:solid #999 4px;font-size:16px;padding:10px;font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;}
.normal_text{font-size: large;display:block;width:auto;text-align: justify;text-justify: inter-word;}
.hljs{padding-left:20px;}
.puce{display:list-item;width:auto;height:100%;float:left; margin-left:18px;}
.image{width: 100%;margin-top: 1.33em;margin-bottom: 1.33em;}
.code-toolbar{border-radius: 0 !important;}
.bar_element{width:100%;height:2px;background-color:grey;margin-top:14px;}
.normal_element{position:relative;width:100%;min-height:30px;text-align: center;font-weight: normal;font-size: large;margin: 15px 0px 15px 0px;}
.index_element{width:100%;min-height:30px;font-size:x-large;text-align: center;}
.index_element:hover{}
.hyperlink{font-size: large;}
.tabulation{display:block;width:20px;height:100%;float:left;}
.return_link{font-weight: bolder;font-weight: normal;}
.header{font-size: xx-large;font-weight: bold;margin-bottom:30px;}
.footer{font-size: small;font-weight: normal;}
.subtitle{font-size: x-large;font-weight: bold;}
.prev_link{position:absolute;top:0px;left:0px;}
.next_link{position:absolute;top:0px;right:0px;}
.home_link{position:absolute;top:0px;left:50%;transform: translate(-50%);}
.h5{font-weight: bold;text-align: left;font-size: normal;}
.h4{font-weight: bold;text-align: left;font-size: large;}
.h3{font-weight: bolder;text-align: center;font-size: x-large;}
.h2{font-weight: bolder;text-align: center;font-size: xx-large;}
.h1{font-weight: bolder;text-align: center;font-size: xx-large;text-decoration:underline;}
.h6{font-weight: bolder;text-align: center;font-size: xx-large;border-bottom:solid grey 2px;}
.sub-folder1{background-color: #EEE;}
.sub-folder2{font-style: italic;}
.header{
   color: white;
   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
